html,body{
    height:100%;
    padding: 0;
    margin: 0;
}
#map{
    position: absolute;
    height:100%;
    width:100%;
    z-index:0;
}
#buttons{
    width:auto;
    height:auto;
    z-index:1;
    position:absolute;
    top:10px;
    left:10px;
    display:flex;
    flex-direction:row;
    background-color:#ffffff;
    border:1px solid #000000;
    font-family:"Arial Black", Gadget, sans-serif;
    color:white;
}
.testButton{
    width:80px;
    height:80px;
    z-index:2;
    margin:0px;
    padding:0px;
    color:#555555;
    opacity:1;
    font-size:18px;
    cursor:pointer;
}
.testButton:hover{
    border-color:#ffffff;
    opacity:1.0;
}
#popupFormWrapper{
    color:black;
    padding:5px;
    border:1px solid black;
}